ul {
  list-style: none;
  margin: 0;
  padding: 0.25em 0;
  width: 100%;

  li {
    padding: .5em 0;

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }
  }
}

ul.list {
  li {
    padding: .5em .5em;
  }

  li > div:not(:last-child) {
    margin-right: 1em;
  }
}
