.tabs {
  margin: -1em;

  ul.tablist {
    @extend .noselect;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      cursor: pointer;
      background-color: $borderColor;
      text-align: center;
      padding: 1em;
      flex: 1 1 100%;
      border-bottom: 1px solid $borderColor;
      border-top: 1px solid $borderColor;

      &:not(:last-child) {
        border-right: 1px solid $borderColor;
      }

      @include small {
        span.fa {
          display: block;
          font-size: 1.25em;
        }
      }

      &.active {
        background-color: white;
        border-top: none;
        border-bottom: none;
        // padding: make up for missing border
        padding: calc(1em + 1px) 1em;
        box-shadow: inset 0 .2em 0 $brand;
      }
    }
  }

  section {
    margin: 0;
  }

}
