/* Main styles file */
@import "sass/variables";
@import "sass/util";
@import "sass/spinner";
@import "sass/checkmark";
@import "sass/lists";
@import "sass/sections";
@import "sass/tooltip";
@import "sass/buttons";
@import "sass/flex";
@import "sass/misc";
@import "sass/containers";
@import "sass/tabs";
@import "sass/snackbar";
@import "sass/modal";
@import "sass/input";
@import "sass/toggle";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  overflow-y: scroll;
  touch-action: manipulation;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    font-family: $font;
    background-color: #f5f5f5;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    padding: 0;
    margin: 0;

    @include highres {
      font-size: 135%;
    }

    @include desktop {
      font-size: 120%;
    }

    @include tablet {
      font-size: 105%;
    }

    @include mobile {
      font-size: 88%;
    }
}

*:focus {
  outline: 0;
}

body > main {
  $breakpoint: 1380px;
  width: 65vw;
  min-width: $breakpoint;
  margin: 0 auto;
  padding: 2em 1em;

  @media screen and (max-width: $breakpoint) {
    min-width: initial;
    width: 100%;
  }

  @include mobile {
    padding: 2em .5em;
  }

}
